{% extends 'freelancer/layout/master.html' %} {% load static %} {% block main %}
<br/><br/><br/><br/><br/>
<center>
    <h4>Login</h4>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/logins" method="POST" enctype="multipart/form-data">
                {% csrf_token %} Username : <input type="text" name="username" class="form-control" placeholder="Please Enter Your Username" required> Password: <input type="password" name="password" class="form-control" placeholder="Please Enter Your Password"
                    required>
                <br/>
                <button class="login btn btn-success text-center" type="submit" style="background: linear-gradient(to right,rgb(50, 199, 5),rgb(144, 202, 152));">Login</button>
                <!-- <button class="login btn btn-success text-center" type="submit">reset</button> -->
                <br><br>
                
                <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>


            </form>
        </div>
    </div class="col-md-2">
</div>

</div>
</div>
</div>

 {% if messages %} {% for message in messages %} {% if message.tags %}
<script>
    alert("{{ message }}")
</script> {% endif %} {% endfor %} {% endif %}

{% endblock %}
