{% extends 'hirer/layout/master.html' %} {% load static %} {% block main %}<br/>
<center>
    <h3>Welcome to Freelance Job Portal</h3>
</center><br/>

<div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ml-5 pl-4">



            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal"><h4><i class="fa fa-plus-square"> Add Project</i></h4></button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Project Requirement</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form action="/hirer/postjob" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                                {% csrf_token %} Project Name: <input type="text" class="form-control" name="projectname" placeholder="please enter name" required> Description: <input type="text" class="form-control" name="description" placeholder="please enter Description"
                                    required> Budjet: <input type="number" class="form-control" name="amount" placeholder="please enter name" required> Start Time <input type="date" class="form-control" name="start_time" required> End Time: <input type="date"
                                    class="form-control" name="end_time" required> Front End : <input type="text" class="form-control" name="front_end" placeholder="Add Front-End Technology" required> Back End : <input type="text" class="form-control" name="back_end"
                                    placeholder="Add Back-end Technology" required>

                                <div class="modal-footer">
                                    <input type="submit" name="submit" class="btn btn-success" style="width:50%;">
                                    <button type="button" class="btn btn-danger" style="width:48%;" data-dismiss="modal">Close</button>
                            </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
            <br/>
            <table class="table table-bordered table-stripted table-hover">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Budget</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Front end</th>
                        <th>Back end</th>
                        <th>Status</th>
                        <th>Created Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in project_detail %}

                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{x.projectname}}</td>
                        <td>{{x.description}}</td>
                        <td>{{x.amount}}</td>
                        <td>{{x.start_time}}</td>
                        <td>{{x.end_time}}</td>
                        <td>{{x.front_end}}</td>
                        <td>{{x.back_end}}</td>
                        <td>{{x.status}}</td>
                        <td>{{x.create_at}}</td>
                        <td><a href="/hirer/delete_project/{{x.id}}"><i  class="fa fa-trash text-danger ml-3"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

{% if messages %} {% for message in messages %} {% if message.tags %}
<script>
    alert("{{ message }}")
</script> {% endif %} {% endfor %} {% endif %} {% endblock %}