{% extends 'hirer/layout/master.html' %} {% load static %} {% block main %}

<br/><br/> {% if project_information %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <center>
                <h2><u>Project Bidding Information</u></h2>
            </center>

            <br/> {% for x in project_information %}
            <h4>Project Name : {{x.projectname}}</h4>
            <hr/>
            <h4>Project Description : <small>{{x.description}}</small></h4>
            <hr/>
            <h4>Project Start Time : {{x.start_time}}</h4>
            <hr/>
            <h4>Project End Time : {{x.end_time}}</h4>
            <hr/>
            <h4>Project Budget : {{x.amount}}</h4>
            <hr/>
            <h4>Project Front End : {{x.front_end}}</h4>
            <hr/>
            <h4>Project Back End : {{x.back_end}}</h4>
            <hr/> {% for y in project_bid_show_detail %}
            <h4>Project Status : {{y.status}}</h4>
            <hr/>
            <h4>Bid Rate : {{y.bid_rate}}</h4>
            <hr/>
            <h4>Comments : {{y.comments}}</h4>
            <hr/>
            <h4>Status : {{y.status}}</h4>
            <hr/>
            <h4>Acceptation:&nbsp;&nbsp;&nbsp;<a href="/hirer/project_bidding_approval/{{y.id}}/{{x.end_time}}" class="btn btn-success">Approve bidding</a></h3>
            <hr/> {% endfor %} {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9 ml-5">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>NO.</th>
                        <th>Project Name</th>
                        <th>Freelancer Name</th>
                        <th>Budget</th>
                        <th>comments</th>
                        {% comment %} <th>Last Date</th> {% endcomment %}
                        <th>Status</th>
                        {% comment %} <th>Created Time</th> {% endcomment %}
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in profile_bid_rate_detail %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{x.project}}</td>
                        <td>{{x.user.first_name}}&nbsp;&nbsp;{{x.user.last_name}}</td>
                        <td>{{x.bid_rate}}</td>
                        <td>{{x.comments}}</td>
                        {% comment %} <td>{{x.end_date}}</td> {% endcomment %}
                        <td>{{x.status}}</td>
                        {% comment %} <td>{{x.create_at}}</td> {% endcomment %}
                        <td><a href="/hirer/bid_rate_show/{{x.project}}/{{x.end_date}}" class="btn btn-warning" style="background: linear-gradient(to right,rgb(241, 186, 5),rgb(253, 255, 130));">Show</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %} {% if messages %} {% for message in messages %} {% if message.tags %}
<script>
    alert("{{ message }}")
</script> {% endif %} {% endfor %} {% endif %}{% endblock %}
