
{% extends 'freelancer/layout/master.html' %} {% load static %} 

{% block main %}

<br/><br/><br/><br/><br/>
<center>
    <h4>Forgot password</h4>
<p>Please specify your email address to receive instructions for resetting it.</p>

</center>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <br><input class="btn btn-success text-center" type="submit" value="Reset password" /></p>
</form>
        </div>
    </div class="col-md-2">
</div>

</div>
</div>
</div>
 {% endblock %}
{% comment %}

{% extends 'freelancer/layout/master.html' %} {% load static %} {% block main %}
<br/><br/><br/><br/><br/>
<center>
    <h4>Forgot password</h4>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form  method="post">
                {% csrf_token %} {{ form.as_p }}
               
                <button class="login btn btn-success text-center" type="submit">Login</button>
     
            </form>
        </div>
    </div class="col-md-2">
</div>

</div>
</div>
</div>

{% endblock %} {% endcomment %}


