


{% extends 'freelancer/layout/master.html' %} {% load static %} {% block main %}
<br/><br/><br/><br/><br/>
<center>
    <h4>Reset Your password</h4>
</center>

<div class="container">

    <div class="row ">
<div class="col-md-2"></div>
        <div class="col-md-8">
 <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>

</div>
<div class="col-md-2"></div>

</div>
</div>


{% endblock %}




{% comment %} 


{% extends 'freelancer/layout/master.html' %} {% load static %} {% block main %}
<br/><br/><br/><br/><br/>
<center>
    <h4>Reset Your password</h4>
</center>

<div class="container">

    <div class="row ">
<div class="col-md-2"></div>
        <div class="col-md-8">
           <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
</p>
<p>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</p>

</div>
<div class="col-md-2"></div>

</div>
</div>


{% endblock %}


 {% endcomment %}
