{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Achievers.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'test/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'test/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'test/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'test/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

    <style>
        .active1 {
            box-shadow: 20px 20px 30px -10px #64a1b1;
            color: #fff;
            font-style: oblique;
        }
    </style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">


            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-3 col-md-3 col-xl-3  d-block">
                        <h1 class="mb-0 site-logo text-center"><a href="/" class="text-black h2 mb-0 ">Achievers<span
                                    class="text-primary">.</span> </a></h1>
                    </div>

                    <div class="col-9 col-lg-9 col-xl-9 main-menu" id="myDIV">
                        <nav class="site-navigation position-relative  text-right" onclick="myFunction(event)" id='navList' role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">

                                <li><a href="{% url 'index' %}" class="nav-link">Home</a></li>

                                <li class="{% if request.resolver_match.url_name == 'index/' %}active1{% endif %}"><a href="/#project-section" class="nav-link ">Projects</a></li>

                                <li class="{% if request.resolver_match.url_name == 'index/' %}active1{% endif %}"><a href="/#features-section" class="nav-link ">Features</a></li>

                                <li class="{% if request.resolver_match.url_name == 'index/' %}active1{% endif %}">
                                    <a href="/#about-section" class="nav-link">About Us</a></li>

                                <li class="{% if request.resolver_match.url_name == 'index/' %}active1{% endif %}"><a href="/#contact-section" class="nav-link">Contact</a></li>
                                <!--<li><a href="/hirer/login" class="nav-link">Be Hirer</a></li>-->

                                {% if user.is_authenticated %}
                                <li class="{% if request.resolver_match.url_name == 'jobfeed' %}active1{% endif %}"><a
                                        href="{% url 'jobfeed' %}" class="nav-link">Jobfeed</a></li>

                                <li class="{% if request.resolver_match.url_name == 'report' %}active1{% endif %}"><a
                                        href="{% url 'report' %}" class="nav-link">Reports</a></li>

                                <li class="{% if request.resolver_match.url_name == 'profile' %}active1{% endif %}"><a
                                        href="{% url 'profile' %}">Profile</a></li>

                                <li class="{% if request.resolver_match.url_name == 'logout' %}active1{% endif %}"><a
                                        href="{% url 'logout' %}" class="nav-link">logout</a></li>

                                {% else %}

                                <li><a href="/hirer/login" class="nav-link">Be Hirer</a></li>

                                <!-- <li><a href="#" class="nav-link" data-toggle="modal" data-target="#myModal">Login</a></li> -->

                                <li class="{% if request.resolver_match.url_name == 'login' %}active1{% endif %}"><a
                                        href="{% url 'login' %}" class="nav-link">Login</a></li>

                                <li
                                    class="{% if request.resolver_match.url_name == 'registration' %}active1{% endif %}">
                                    <a href="{% url 'registration' %}" class="nav-link">Registration</a></li>
                                {% endif %}


                            </ul>
                        </nav>
                    </div>

                    <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0"><a href="#"
                            class="site-menu-toggle js-menu-toggle text-black float-right"><span
                                class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>
        {% block main %} {% endblock %} {% block footer %}


        <script>
            // Add active class to the current button (highlight it)
            // var header = document.getElementById("myDIV");
            // var btns = header.getElementsByClassName("btn");
            // for (var i = 0; i < btns.length; i++) {
            //   btns[i].addEventListener("click", function() {
            //   var current = document.getElementsByClassName("active");
            //   current[0].className = current[0].className.replace(" active", "");
            //   this.className += " active";
            //   });
            // }
            function myFunction(e) {
  if (document.querySelector('#navList a.active1') !== null) {
    document.querySelector('#navList a.active1').classList.remove('active1');
  }
  e.target.className = "active1";
}
            </script>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>


        <script src="{% static 'js/main.js' %}"></script>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->


                    <!-- Modal body -->

                    <div class="limiter">
                        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
                            <div class="wrap-login100">
                                <form action="/login" method="POST" accept-charset="utf-8"
                                    class="login100-form validate-form">
                                    {% csrf_token %}
                                    <span class="login100-form-logo">
                                        <i class="zmdi zmdi-landscape"></i>
                                    </span>

                                    <span class="login100-form-title p-b-34 p-t-27">
                                        Log in
                                    </span>

                                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                                        <input class="input100" type="text" name="username" placeholder="Username">
                                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                                    </div>

                                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                                        <input class="input100" type="password" name="password" placeholder="Password">
                                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                    </div>

                                    <div class="contact100-form-checkbox">
                                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                        <label class="label-checkbox100" for="ckb1">
                                            Remember me
                                        </label>
                                    </div>

                                    <div class="container-login100-form-btn">
                                        <button type="submit" class="login100-form-btn">
                                            Login
                                        </button>
                                    </div>

                                    <div class="text-center p-t-90">
                                        <!-- <a class="txt1" href="#">
              Forgot Password?
            </a> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- The Modal -->




                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/animsition/js/animsition.min.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/bootstrap/js/popper.js' %}"></script>
                    <script src="{% static 'test/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/select2/select2.min.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/daterangepicker/moment.min.js' %}"></script>
                    <script src="{% static 'test/vendor/daterangepicker/daterangepicker.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/vendor/countdowntime/countdowntime.js' %}"></script>
                    <!--===============================================================================================-->
                    <script src="{% static 'test/js/main.js' %}"></script>


                    {% endblock %} {% block js %} {% endblock %}
